@import url(https://fonts.googleapis.com/css?family=Oxygen:700,400,300);
html {
  background-color: #E8F0FA;
  font-family: "Oxygen", sans-serif;
}

.container {
  max-width: 60rem;
  margin: 0 auto;
}





.form__time .date, .form__time .time, .form__time .timezone, .form__time .cname, .form__time .cnum, .form__time .email, .form__contact .date, .form__contact .time, .form__contact .timezone, .form__contact .cname, .form__contact .cnum, .form__contact .email {
  display: inline-block;
}

.form__time .date label, .form__time .date input, .form__time .time label, .form__time .time input, .form__time .timezone label, .form__time .timezone input, .form__time .cname label, .form__time .cname input, .form__time .cnum label, .form__time .cnum input, .form__time .email label, .form__time .email input, .form__contact .date label, .form__contact .date input, .form__contact .time label, .form__contact .time input, .form__contact .timezone label, .form__contact .timezone input, .form__contact .cname label, .form__contact .cname input, .form__contact .cnum label, .form__contact .cnum input, .form__contact .email label, .form__contact .email input {
  display: block;
  width: 200px;
}
.form__time .time, .form__time .cnum, .form__contact .time, .form__contact .cnum {
  margin-left: 20px;
}




input {
  font-size: 0.8rem;
  font-weight: 700;
  letter-spacing: 0.5px;
  background: transparent;
  border: 1px solid #3d4c90;
  border-radius: 3px;
  outline: none;
  padding: 10px;
  transition: border-color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  color: #3c4c8f;
}



input[type=date] {
  text-transform: uppercase;
}



button {
    
  font-size: 10px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
  background-color: #3f4f95;
  border: 1px solid #DADDE8;
  color: #fff;
  width:150px;
  height: 50px;
  border-radius: 5px;
  outline: none;

  position: relative;
  left: 350px;
  margin-bottom: 20px;
}
